dialog {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

form {
    width: auto;
    padding: 20px 40px;
    align-items: stretch;
    justify-content: space-around;
}

label {
    display: block;
}

dialog button {
    display: inline-block;
    box-sizing: border-box;
    height: 40px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: transparent;
    color: #999999;
    border: 2px solid;
    cursor: pointer;
    text-align: center;
    margin: 10px 5px;
}

dialog input {
    width: 100%;
}

label.btn-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}


#query-model-info h2,
#query-model-info p {
    display: inline-block;
}

#query-model-info {
    padding: 20px;
    padding-bottom: 60px;
    position: relative;
}

#query-model-info .close {
    position: absolute;
    bottom: 20px;
    right: 30px;
}

#upload-data-dialog .close svg {
    width: 15px;
    height: 15px;
    position: absolute;
    left: 8px;
    top: 11px;
    cursor: pointer;
}