.model-library{
    border:1px solid #333;
    flex:0 0 200px;
    background-color: #fff;
}
.title{
    padding:10px;
}
.del svg{
    width: 20px;
    height: 20px;

}
.del{
    width:40px;
    height: 40px;
}

.model-library .model {
    background: blue;
    border-radius: 10px;
    padding: 5px 10px;
    color: #fff;
    cursor: grab;
}