* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}
/* 移除所有number输入框的上下箭头 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
